#author-header
  .left
    %h2.name
      %a{"href" => "/@#{author.username}"}
        = author.display_name

    -if !condensed
      %p.username= author.handle

    %p.bio= author.bio

    -if !condensed && !post_header
      %a.link{"href" => "#{author.link}", "target" => "_blank"}= author.link

  .right
    - if !post_header
      #subscription-form
        = render "authors/subscription_form", :author => author
