#author-header
  %h2.name

    %a{"href" => "/@#{author.username}"}
      = author.display_name

  -if !condensed
    %p.username= "@" + author.username

  %p.bio= author.bio

  -if !condensed
    %a.link{"href" => "#{author.link}", "target" => "_blank"}= author.link

  #subscription-form
    = render "subscription_form", :author => author
