%p
  A blog you're subscribed to,
  %a.unstyled{"href" => "#{@post.author.url}"} #{@post.author.title},
  published a new post:

%h3
  %a.unstyled{"href" => "#{@post_url}"}
    #{@post.title}
.post-content
  %p #{@post.rendered_text[0, 2000] + "..."}

.post-content
  %p
    %a{"href" => "#{@post_url}"} Continue Reading

%hr

- if @weekly_url
  %a{"href" => "#{@weekly_url}"} Switch to Weekly Emails

%a{"href" => "#{@unsubscribe_url}"} Unsubscribe
