%p #{@author.title} published some new posts this week:

- @posts.each do |post|
  .post
    %h3
      #{post.title}
    .post-content
      %p #{post.rendered_text[0, 500] + "..."}

      %a{"href" => "#{ENV['HOST']}#{post.path}"} Continue Reading

%hr

.links-footer{"style" => "margin-bottom: 20px;"}
  %a{"href" => "#{@unsubscribe_url}"} Unsubscribe
