#single-post-show
  = render "posts/post", :post => @post


  - if !@post.unlisted
    %hr
    #single-post-footer
      #subscription-form.centered
        = render "authors/subscription_form", :author => @post.author
      %p.mt-30
        More from
        %a.author-name{"href" => "/@#{@post.author.username}"}
          = @post.author.title + ":"
        .posts
          - if @author_posts && @author_posts.length > 0
            - @author_posts.each do |tied_post|
              %strong
                %a.block{"href" => "#{tied_post.url}"}
                  = tied_post.title
